<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-area-heading" data-cy="AreaCreateUpdateHeading" jhiTranslate="jailHubInsightsApp.area.home.createOrEditLabel">
        Create or edit a Area
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jailHubInsightsApp.area.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jailHubInsightsApp.area.areaSize" for="field_areaSize">Area Size</label>
          <input type="number" class="form-control" name="areaSize" id="field_areaSize" data-cy="areaSize" formControlName="areaSize" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jailHubInsightsApp.area.areaType" for="field_areaType">Area Type</label>
          <select class="form-control" name="areaType" formControlName="areaType" id="field_areaType" data-cy="areaType">
            <option [ngValue]="null">{{ 'jailHubInsightsApp.AreaType.null' | translate }}</option>
            <option *ngFor="let areaType of areaTypeValues" [value]="areaType">
              {{ 'jailHubInsightsApp.AreaType.' + areaType | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jailHubInsightsApp.area.prison" for="field_prison">Prison</label>
          <select
            class="form-control"
            id="field_prison"
            data-cy="prison"
            name="prison"
            formControlName="prison"
            [compareWith]="comparePrison"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="prisonOption" *ngFor="let prisonOption of prisonsSharedCollection">{{ prisonOption.name }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="jailHubInsightsApp.area.assignedStaffAreas" for="field_assignedStaffAreas">Assigned Staff Areas</label>
          <select
            class="form-control"
            id="field_assignedStaffAreas"
            data-cy="assignedStaffAreas"
            multiple
            name="assignedStaffAreas"
            formControlName="assignedStaffAreas"
            [compareWith]="compareStaff"
          >
            <option [ngValue]="staffOption" *ngFor="let staffOption of staffSharedCollection">
              {{ staffOption.firstName + ' ' + staffOption.lastName }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="jailHubInsightsApp.area.composedOfAreas" for="field_composedOfAreas">Composed Of Areas</label>
          <select
            class="form-control"
            id="field_composedOfAreas"
            data-cy="composedOfAreas"
            multiple
            name="composedOfAreas"
            formControlName="composedOfAreas"
            [compareWith]="compareArea"
          >
            <option [ngValue]="areaOption" *ngFor="let areaOption of areasSharedCollection">{{ areaOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
