<div class="d-flex">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-prison-heading" data-cy="PrisonCreateUpdateHeading" jhiTranslate="jailHubInsightsApp.prison.home.createOrEditLabel">
        Create or edit a Prison
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3">
          <jhi-image-container
            [uploadVisible]="true"
            [isPrison]="true"
            [image]="selectedImage"
            (imageEmitter)="onImageSelected($event)"
          ></jhi-image-container>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jailHubInsightsApp.prison.name" for="field_name">Name</label>
          <input type="text" class="form-control" style="width: 60%" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jailHubInsightsApp.prison.location" for="field_location">Location</label>
          <input
            type="text"
            class="form-control"
            style="width: 60%"
            name="location"
            id="field_location"
            data-cy="location"
            formControlName="location"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>

    <div class="row mb-3 {{ selectedImage ? 'with-image' : 'without-image' }}">
      <div class="row mb-3">
        <div class="col-3">
          <label class="form-label" jhiTranslate="jailHubInsightsApp.prison.ratio.cell_ratio">Cell ratio</label>
          <input
            [(ngModel)]="cellRatio"
            type="number"
            min="0.1"
            step="0.1"
            class="form-control"
            name="cell_ratio"
            id="cell_ratio"
            data-cy="cell_ratio"
          />
        </div>
        <div class="col-3">
          <label class="form-label" jhiTranslate="jailHubInsightsApp.prison.ratio.cell_block_ratio">Cell block ratio</label>
          <input
            [(ngModel)]="cellBlockRatio"
            type="number"
            min="0.1"
            step="0.1"
            class="form-control"
            name="cell_block_ratio"
            id="cell_block_ratio"
            data-cy="cell_block_ratio"
          />
        </div>
        <div class="col-3">
          <label class="form-label" jhiTranslate="jailHubInsightsApp.prison.ratio.labor_site_ratio">Labor site ratio</label>
          <input
            [(ngModel)]="laborRatio"
            type="number"
            min="0.1"
            step="0.1"
            class="form-control"
            name="labor_site_ratio"
            id="labor_site_ratio"
            data-cy="cell_block_ratio"
          />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <label class="form-label" jhiTranslate="jailHubInsightsApp.prison.ratio.dining_area_ratio">Dining ratio</label>
          <input
            [(ngModel)]="diningBlockRatio"
            type="number"
            min="0.1"
            step="0.1"
            class="form-control"
            name="dining_area_ratio"
            id="dining_area_ratio"
            data-cy="cell_ratio"
          />
        </div>
        <div class="col-3">
          <label class="form-label" jhiTranslate="jailHubInsightsApp.prison.ratio.recreational_area_ratio">Recreational ratio</label>
          <input
            [(ngModel)]="recreationalRatio"
            type="number"
            min="0.1"
            step="0.1"
            class="form-control"
            name="recreational_area_ratio"
            id="recreational_area_ratio"
            data-cy="cell_block_ratio"
          />
        </div>
        <div class="col-3">
          <label class="form-label" jhiTranslate="jailHubInsightsApp.prison.ratio.class_area_ratio">Class area ratio</label>
          <input
            [(ngModel)]="classAreaRatio"
            type="number"
            min="0.1"
            step="0.1"
            class="form-control"
            name="class_area_ratio"
            id="class_area_ratio"
            data-cy="class_area_ratio"
          />
        </div>
      </div>
    </div>
  </div>
</div>
