<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-inmate-heading" data-cy="InmateCreateUpdateHeading" jhiTranslate="jailHubInsightsApp.inmate.home.createOrEditLabel">
        Create or edit a Inmate
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3">
          <jhi-image-container
            [uploadVisible]="true"
            [image]="selectedImage"
            (imageEmitter)="onImageSelected($event)"
          ></jhi-image-container>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jailHubInsightsApp.inmate.firstName" for="field_firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jailHubInsightsApp.inmate.lastName" for="field_lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jailHubInsightsApp.inmate.dateOfBirth" for="field_dateOfBirth">Date Of Birth</label>
          <div class="input-group">
            <input
              id="field_dateOfBirth"
              data-cy="dateOfBirth"
              type="text"
              class="form-control"
              name="dateOfBirth"
              ngbDatepicker
              #dateOfBirthDp="ngbDatepicker"
              formControlName="dateOfBirth"
            />
            <button type="button" class="btn btn-secondary" (click)="dateOfBirthDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jailHubInsightsApp.inmate.dateOfIncarceration" for="field_dateOfIncarceration"
            >Date Of Incarceration</label
          >
          <div class="input-group">
            <input
              id="field_dateOfIncarceration"
              data-cy="dateOfIncarceration"
              type="text"
              class="form-control"
              name="dateOfIncarceration"
              ngbDatepicker
              #dateOfIncarcerationDp="ngbDatepicker"
              formControlName="dateOfIncarceration"
            />
            <button type="button" class="btn btn-secondary" (click)="dateOfIncarcerationDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jailHubInsightsApp.inmate.dateOfExpectedRelease" for="field_dateOfExpectedRelease"
            >Date Of Expected Release</label
          >
          <div class="input-group">
            <input
              id="field_dateOfExpectedRelease"
              data-cy="dateOfExpectedRelease"
              type="text"
              class="form-control"
              name="dateOfExpectedRelease"
              ngbDatepicker
              #dateOfExpectedReleaseDp="ngbDatepicker"
              formControlName="dateOfExpectedRelease"
            />
            <button type="button" class="btn btn-secondary" (click)="dateOfExpectedReleaseDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jailHubInsightsApp.inmate.assignedCell" for="field_assignedCell">Assigned Cell</label>
          <select
            class="form-control"
            id="field_assignedCell"
            data-cy="assignedCell"
            name="assignedCell"
            formControlName="assignedCell"
            [compareWith]="compareArea"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="areaOption" *ngFor="let areaOption of areasSharedCollection">{{ areaOption.name }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
