<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-activity-heading" data-cy="ActivityCreateUpdateHeading" jhiTranslate="jailHubInsightsApp.activity.home.createOrEditLabel">
        Create or edit a Activity
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jailHubInsightsApp.activity.type" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'jailHubInsightsApp.ActivityType.null' | translate }}</option>
            <option *ngFor="let activityType of activityTypeValues" [value]="activityType">
              {{ 'jailHubInsightsApp.ActivityType.' + activityType | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jailHubInsightsApp.activity.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jailHubInsightsApp.activity.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jailHubInsightsApp.activity.prison" for="field_prison">Prison</label>
          <select
            class="form-control"
            id="field_prison"
            data-cy="prison"
            name="prison"
            formControlName="prison"
            [compareWith]="comparePrison"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="prisonOption" *ngFor="let prisonOption of prisonsSharedCollection">{{ prisonOption.name }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="jailHubInsightsApp.activity.staff" for="field_staff">Staff</label>
          <select
            class="form-control"
            id="field_staff"
            data-cy="staff"
            multiple
            name="staff"
            formControlName="staff"
            [compareWith]="compareStaff"
          >
            <option [ngValue]="staffOption" *ngFor="let staffOption of staffSharedCollection">
              {{ staffOption.firstName + ' ' + staffOption.lastName }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="jailHubInsightsApp.activity.inmate" for="field_inmates">Inmates</label>
          <select
            class="form-control"
            id="field_inmates"
            data-cy="inmates"
            multiple
            name="inmates"
            formControlName="inmates"
            [compareWith]="compareInmates"
          >
            <option [ngValue]="inmateOption" *ngFor="let inmateOption of inmatesSharedCollection">
              {{ inmateOption.firstName + ' ' + inmateOption.lastName }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
