<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-staff-heading" data-cy="StaffCreateUpdateHeading" jhiTranslate="jailHubInsightsApp.staff.home.createOrEditLabel">
        Create or edit a Staff
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jailHubInsightsApp.staff.staffType" for="field_staffType">Staff Type</label>
          <select class="form-control" name="staffType" formControlName="staffType" id="field_staffType" data-cy="staffType">
            <option [ngValue]="null">{{ 'jailHubInsightsApp.StaffType.null' | translate }}</option>
            <option *ngFor="let staffType of staffTypeValues" [value]="staffType">
              {{ 'jailHubInsightsApp.StaffType.' + staffType | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jailHubInsightsApp.staff.firstName" for="field_firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jailHubInsightsApp.staff.lastName" for="field_lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="jailHubInsightsApp.staff.prison" for="field_prison">Prison</label>
          <select
            class="form-control"
            id="field_prison"
            data-cy="prison"
            name="prison"
            formControlName="prison"
            [compareWith]="comparePrison"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="prisonOption" *ngFor="let prisonOption of prisonsSharedCollection">{{ prisonOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="jailHubInsightsApp.staff.activity" for="field_activities">Activity</label>
          <select
            class="form-control"
            id="field_activities"
            data-cy="activity"
            multiple
            name="activities"
            formControlName="activities"
            [compareWith]="compareActivity"
          >
            <option [ngValue]="activityOption" *ngFor="let activityOption of activitiesSharedCollection">{{ activityOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
