<div>
  <h2 id="page-heading" data-cy="StaffHeading">
    <span jhiTranslate="jailHubInsightsApp.staff.home.title">Staff</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jailHubInsightsApp.staff.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-staff"
        [routerLink]="['/staff/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jailHubInsightsApp.staff.home.createLabel"> Create a new Staff </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="staff?.length === 0">
    <span jhiTranslate="jailHubInsightsApp.staff.home.notFound">No Staff found</span>
  </div>

  <jhi-search-bar (onSearch)="loadSearch($event)"></jhi-search-bar>

  <div class="table-responsive table-entities" id="entities" *ngIf="staff && staff.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="staffType">
            <div class="d-flex">
              <span jhiTranslate="jailHubInsightsApp.staff.staffType">Staff Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="firstName">
            <div class="d-flex">
              <span jhiTranslate="jailHubInsightsApp.staff.firstName">First Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastName">
            <div class="d-flex">
              <span jhiTranslate="jailHubInsightsApp.staff.lastName">Last Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="prison.name">
            <div class="d-flex">
              <span jhiTranslate="jailHubInsightsApp.staff.prison">Prison</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let staff of staff; trackBy: trackId" data-cy="entityTable">
          <td jhiTranslate="{{ 'jailHubInsightsApp.StaffType.' + staff.staffType }}">{{ staff.staffType }}</td>
          <td>{{ staff.firstName }}</td>
          <td>{{ staff.lastName }}</td>
          <td>
            <div *ngIf="staff.prison">
              <a [routerLink]="['/prison', staff.prison.id, 'view']">{{ staff.prison.name }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/area']"
                [queryParams]="{ 'filter[assignedStaffAreasId.in]': staff.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('jailHubInsightsApp.staff.assignedAreas' | translate) }"
                  >Show Area</span
                >
              </button>
              <button type="submit" [routerLink]="['/staff', staff.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/staff', staff.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(staff)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="staff && staff.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
