<div class="row">
  <div class="col-md-9">
    <h1 *ngIf="account != null" class="display-4">
      <span jhiTranslate="home.title" [translateValues]="{ username: account.login }">Jail Hub Insights</span>
    </h1>
    <h1 *ngIf="account == null" class="display-4"><span jhiTranslate="home.title_not_auth">Jail Hub Insights</span></h1>
  </div>

  <div class="col-md-9 mb-4" *ngIf="account != null && account.prison != null">
    <h2 class="display-6">
      <span jhiTranslate="home.logged.prison_management"></span>
      <span
        ><a [routerLink]="['/prison', account.prison.id, 'view']">{{ account.prison.name }}</a></span
      >
      <span jhiTranslate="home.logged.prison_location" [translateValues]="{ location: account.prison.location }"></span>
    </h2>
  </div>

  <div class="col-md-9 mb-4" *ngIf="account != null && account.prison == null">
    <h2 class="display-6"><span jhiTranslate="home.logged.no_prison">No prison in management!</span></h2>
  </div>

  <div class="col-md-9 mb-4">
    <jhi-image-container
      *ngIf="account != null && account.prison != null"
      [isPrison]="true"
      [image]="account.prison.image"
    ></jhi-image-container>
  </div>
</div>
